<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= appname %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="dist/favicon.ico" type="image/x-icon" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="dist/bootstrap.min.css">
        <link rel="stylesheet" href="dist/font-awesome/css/font-awesome.min.css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="dist/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link rel="stylesheet" href="dist/main.min.css">
        <!-- endbuild -->
        <!--[if lt IE 9]><% if (includeHtml5shiv) { %>
        <script src="dist/html5shiv.js"></script><% } %><% if (includeRespond) { %>
        <script src="dist/respond.min.js"></script><% } %>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <div class="jumbotron" style="background-color: #FF0044; color: #FFF; margin-top: 20px;">
                <h1><%= appname %></h1>
                <p class="lead">Built with yeoman generator-web. Always a pleasure scaffolding your apps.</p>
            </div>

            <div class="row row-marketing">
                <div class="col-lg-4 text-center">
                    <div class="circle" style="background-color: #202020; color: #DF8422;">HTML5 Boilerplate</div>
                    <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="circle" style="background-color: #573C7D; color: #FFFFFF;">Bootstrap</div>
                    <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="circle" style="background-color: #1869AD; color: #FFFFFF;">jQuery</div>
                    <p>jQuery is a fast, small, and feature-rich JavaScript library.</p>
                </div>
            </div>

            <div class="row row-marketing">
                <div class="col-lg-4 text-center">
                    <% if (includeModernizr) { %><div class="circle" style="background-color: #F5EFF2; color: #D91E76;">Modernizr</div>
                    <p>Modernizr is an javaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
                    <% } %>

                    <% if (includeRespond) { %><div class="circle" style="background-color: #666666; color: #DDDDDD;">Respond.js</div>
                    <p>A fast & lightweight polyfill for min/max-width CSS3 Media Queries (for IE 6-8, and more).</p>
                    <% } %>
                </div>
                <div class="col-lg-4 text-center">
                    <% if (includeUnderscore) { %><div class="circle" style="background-color: #042941; color: #1A72B6;">Underscore</div>
                    <p>Underscore is a utility-belt library for JavaScript that provides a lot of the functional programming support.</p>
                    <% } %>

                    <% if (includeHtml5shiv) { %><div class="circle" style="background-color: #000000; color: #FFFFFF;">HTML5 Shiv</div>
                    <p>The HTML5 Shiv enables use of HTML5 sectioning elements in legacy Internet Explorer and provides basic HTML5 styling for Internet Explorer 6-9, Safari 4.x (and iPhone 3.x), and Firefox 3.x.</p>
                    <% } %>

                </div>
                <div class="col-lg-4 text-center">
                    <% if (includeFontAwesome) { %><div class="circle" style="background-color: #1D9D73; color: #FFFFFF;">Font Awesome</div>
                    <p>Font Awesome gives you scalable vector icons that can instantly be customized.</p>
                    <% } %>
                </div>
            </div>

            <div class="footer">
                <p>♥ from the Yeoman team</p>
            </div>

        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js --><% if (includeModernizr) { %>
        <script src="dist/modernizr.js"></script><% } %>
        <script src="dist/extensions.min.js"></script>
        <script src="dist/main.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
