//@import 'compass/css3';

$icon-font-path: "fonts/";
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
<% if (includeFontAwesome) { %>
$fa-font-path: "fonts/";
@import 'font-awesome/scss/font-awesome';
<% } %>

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700);


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Project styles
   ========================================================================== */

body {
    background-color: #FF0044;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
    color: #FF0044;
    margin-top: 20px;
}

.circle {
    -webkit-border-radius: 50%;
	border-radius: 50%;
    font-size: 24px;
    font-weight: 200;
    height: 240px;
    line-height: 10;
    margin: 15px auto;
    text-align: center;
    width: 240px;
}
